.drop-down {
    position: absolute;
    width: 120px;
    max-height:90vh;
    display: flex;
    flex-direction: column;
    padding: 16px auto;
    margin: 0 auto;
    background-color: white;
    top: 100px;
    right: 80px;
    z-index: 100;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; ;
    
    div {
        font-size: 18px;
        font-weight: 500;
        display: block;
        padding: 10px 10px;
        letter-spacing: 0px;
        text-align: center;
    
        &:hover {
            background-color: rgba(0, 0, 0, .2);
        }
    }

}