.drop-down {
    position: absolute;
    width: 114px;
    max-height:90vh;
    display: flex;
    flex-direction: column;
    padding: 16px auto;
    margin: 0 auto;
    background-color: white;
    top: 100px;
    right: 60px;
    z-index: 100;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px; 
    
    .top {
        font-size: 18px;
        font-weight: 500;
        padding: 10px 0px;
        display: flex;
        justify-content: center;
        height: 45px;
    
        &:hover {
            background-color: #eeeeee;
            cursor: pointer;
        }

        .left {
            transform: translateX(-10px);
            
        }
    
        
    }
    
}